/*
 Project Ethel
 Test HTML client style
 Talks to web socket

 Copyright (C) 2024  Gerd Kortemeyer, ETH Zurich

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding does not add to total width */
}

#messages {
    overflow-y: auto; /* Enables vertical scrolling */
}

.message {
    margin: 5px;
    padding: 10px;
    border-radius: 10px; /* Default rounded corners for all */
    max-width: 60%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#title-banner {
    position: fixed;
    top: 10px;
    left: 10px;
    color: gray;
    font-size: 14px;
    opacity: 0.7;
    pointer-events: none;  /* so it does not interfere with clicks */
    z-index: 100;          /* adjust as needed */
}

.user-message {
    position: relative;
    background-color: #215CAF;
    color: white;
    margin-left: auto;
    border-bottom-right-radius: 0; /* Removes rounding from the bottom right corner */
}

.server-message {
    position: relative;
    background-color: #E2E2E2;
    color: black;
    border-bottom-left-radius: 0; /* Removes rounding from the bottom left corner */
}

.input-container {
    display: flex; /* This makes the container a flex container, aligning children in a row */
    align-items: center; /* This centers the children vertically */
    gap: 10px; /* Optional: adds some space between the textarea and the button */
}

#send-button {
    cursor: pointer; /* Makes the mouse cursor indicate a clickable button */
    font-size: 16px;
}

#message-input {
    resize: vertical; /* Allows vertical resizing, you can set to none if you want to disable manual resizing */
    overflow: hidden; /* Hides the scrollbar */
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: calc(100% - 20px); /* Adjusts width to account for padding */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.feedback {
    display: none; /* Initially hidden */
    cursor: pointer;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px; /* Half of the spinner's height */
  margin-left: -15px; /* Half of the spinner's width */
  border: 5px solid #f3f3f3; /* Light grey border */
  border-top: 5px solid #215CAF; /* Blue border */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
