/*
 Project Ethel
 Test HTML client style
 Supports multiple WebSocket connections and response selection with conversation continuity

 ... (License information)
*/

/* Base styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#chat-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    max-height: calc(100vh - 200px); /* Adjust based on controls height */
}

/* Conversation block */
.conversation-block {
    margin-bottom: 20px;
}

/* Messages container */
.messages-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.messages:last-child {
    margin-right: 0;
}

.messages.selectable:hover,
.messages.highlight {
    border-color: green;
    background-color: #e8ffe8; /* Light green background */
}

.messages.highlight {
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5); /* Green glow */
}

.messages .server-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

/* Message styling */
.message {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
    word-wrap: break-word;
}

.user-message {
    background-color: #215CAF;
    color: white;
    margin-left: auto;
    border-bottom-right-radius: 0;
}

.server-message {
    background-color: #E2E2E2;
    color: black;
    border-bottom-left-radius: 0;
}

/* Input and controls */
#controls {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.feedback {
    display: none; /* Initially hidden */
    cursor: pointer;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#message-input {
    flex: 1;
    resize: vertical;
    overflow: hidden;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#send-button {
    cursor: pointer;
    font-size: 16px;
}

/* Disabled input styling */
#message-input.disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

#send-button.disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

/* Spinner styling */
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #215CAF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Enhanced highlighting effect */
.messages.selectable:hover,
.messages.highlight {
    border-color: green;
    background-color: #e0ffe0; /* Light green background on hover */
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5); /* Green glow */
}

